<div class="container">
  <form (ngSubmit)="signin()" class="form-signin">
    <div class="row">
      <div class="col">
        <h2 class="form-signin-heading">Please sign in</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email address" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="password" class="sr-only">Password</label>
        <input class="form-control" [(ngModel)]="user.password" name="password" placeholder="password" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col justify-content-center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center"><a [routerLink]="['/register']">Register</a></div>
    </div>
  </form>

</div>
<!-- /container -->