<div class="container">
    <div class="row">
        <div class="col">
            <navbar></navbar>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-block">
                    <p>Orders</p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card">
                <div class="card-block">
                    <p>Shortage</p>
                </div>
            </div>
        </div>
    </div>
</div>